.terraform
terraform.tfstate
terraform.tfstate.*

# Created by https://www.toptal.com/developers/gitignore/api/direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv

### direnv ###
.envrc
.direnv

# End of https://www.toptal.com/developers/gitignore/api/direnv
result
config.tf.json

# ignored generated precommit config by nix-precommit
/.pre-commit-config.yaml
